$enable-rounded: false;

$primary: #2468AC;
$secondary: #F5A623;

$light-gray: #f9f9f9;
$medium-gray: #ddd;
$dark-gray: #333;
$text-muted: #a5a5a5;

$body-color: $dark-gray;
$font-family-sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-family-serif: $font-family-sans-serif;

$form-group-margin-bottom: 1.5rem;
$input-border-color: #aaa;

// $grid-gutter-width: 60px;

@import "./../../node_modules/bootstrap/scss/bootstrap";

$contextualColors: (
    'light-gray': $light-gray, 'medium-gray': $medium-gray, 'dark-gray': $dark-gray, transparent: transparent
);
@each $name, $color in $contextualColors {
    .bg-#{$name} {background: $color !important}
    .text-#{$name} {text: $color !important}
    .border-#{$name} {border-color: $color !important}
}

$borderWidths: (fat: 3px);
@each $name, $size in $borderWidths {
    .border-#{$name} {border-width: $size !important}
}

$heights: (495);
@each $size in $heights {
    // .h-#{$size} {height: ($size * 1px) !important}
}

$iconSizes: (sm: 16, md: 16);
@each $name, $size in $iconSizes {
    .icon-#{$name} {width: ($size * 1px);height: ($size * 1px)}
}

.main-title {
    @include media-breakpoint-down(sm) {
        font-size: 26px !important;
    }
}

.data-date-location {
    @include media-breakpoint-down(sm) {
        font-size: 1rem !important;
    }
}

.flex-grow {flex-grow:1}

.icon-social {
    background: $primary;
    border-radius: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    &:hover {
        background: darken($primary, 5%);
    }
}

.bg-hero {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    max-width: 200px;
    height: auto;
}

.main-logo {
    width: 100%;

    @include media-breakpoint-down(sm) {
        width: 400px;
        display: inline-block;
        max-width: calc(100% - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.bg-header {
    background-image: url('img/banner-1.jpg');
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .85)),
        url('img/banner-1.jpg');
}

.bg-tickets {
    background-image: url('img/banner-2.jpg');
    background-image: linear-gradient(to top, rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)),
        url('img/banner-2.jpg');

    @supports (background-blend-mode: multiply) {
        background-color: rgba(0, 0, 0, .65);
        background-image: url('img/banner-2.jpg');
        background-blend-mode: multiply;
    }
}

.card-speaker {
    cursor: pointer;
}

h6, .h6 {
    font-weight: bold;
}

body {
    &.fixed {
        // padding-top: 90px;

        .header-main {
            position: fixed;
            top: 0;
            width: 100%;
            height: 90px;
            background: black;
            padding-top: 20px !important;
            padding-bottom: 0 !important;
            z-index: 10;

            .row {
                justify-content: space-between !important;
            }

            div[class*='col']:nth-child(1) {
                width: 250px !important;
                flex: 0 0 250px;
                max-width: 250px;

                @include media-breakpoint-down(sm) {
                    width: 210px !important;
                    flex: 0 0 210px;
                    max-width: 210px;
                }

                .main-logo {
                    width: 100%;
                    height: 50px;
                }
            }

            div[class*='col']:nth-child(2) {
                width: auto !important;
                flex: 1 0 auto;

                .nav {
                    margin-top: 4px;
                    justify-content: flex-end !important;
                }
            }

            div[class*='col']:nth-child(3) {
                display: none !important;
            }
        }
    }
}

.modal {
    position: absolute;
}

.speaker-bio {
    display: none;
}

body {
    overflow-x: hidden
}


.-ml-4 {
    margin-left: -1rem;
}
